/* No Right Column */
/* This style removes the activity column, birthday notifications and advertisements* in the right side of Facebook. This does NOT remove Chat, and applies a little background for FB.*/
/* Applies to: URLs on the domain - www.facebook.com */

#rightCol {
 display:none !important;
}

#leftCol {
  /*width:48px !important;*/
  width:165px !important;
  background-color: rgba(255,255,255,0.75);
  
}

#leftCol:hover {
  width:165px !important;
  background-color: rgba(255,255,255,0.85);
}

#contentArea {
  margin-left: 20px !important;
  width:675px !important;
}

._4-u2 {
  margin-bottom:20px !important;
  background-color: rgba(255,255,255,0.90) !important;
}
  
#blueBarNAXAnchor {
    background-color:rgba(69, 97, 157,0.8) !important;
    background-image:none !important;
}
